*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
}
nav h1{
    font-size: 25px;
    font-style: italic;
    color: rgb(9, 95, 9);
}
nav span{
    color: rgb(124, 102, 12);
    font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav i{
    font-size: 25px;
}
.page1{
    width: 100%;
    height: 70vh;
    position: relative;
    margin-top: 90px;
}
.left-side{
    width: 50%;
    margin-left: 130px;  
    padding-top: 70px;
    /* background-color: aqua; */
}
.left-side h6{
    font-size: 20px;
    color: rgb(112, 7, 0);
}
.left-side h1{
    font-size: 50px;
    font-style: italic;
    color: darkgoldenrod;
}
.left-side p{
    font-size: 10px;
    padding-right: 250px;
    color: rgb(17, 17, 17);
    font-weight: 700;
}
.left-side button{
    background-color: cadetblue;
    border: none;
    margin-top: 30px;
    padding: 5px 12px;
    font-weight: 700;
}
.right{
    width: 50%;
}
.right img{
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
}
.footer{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: repeat(4,25%);
    margin-top: 100px;
    /* background-color: blue; */
}
.box{
    width: 200px;
    border: 1px solid black;
    text-align: center;
    padding:5px 5px ;
    border-radius: 8px;
    background-color: rgb(159, 191, 250);
    margin-left: 60px;
}

.box >h1{
    font-size: 30px;
}
.box >p{
    font-size: 13px;
}

